<app-step title="One last thing...?">
  <form [formGroup]="form">
    <div class="row striped-blue">
      <div class="col"></div>
      What is the age of the person who would like some extra help?
    </div>
    <div class="row">
      <div class="col">
        We're not just being nosey, it's just that some providers are more
        scpecialised in supporting younger adults.
      </div>
    </div>
    <div class="row striped-pink">
      <div class="col">
        <label for="age" class="form-label">Age</label>
        <input
          type="number"
          class="form-control"
          id="age"
          formControlName="age"
        />
        <label for="postcode" class="form-label">Postcode</label>
        <input
          type="text"
          class="form-control"
          id="postcode"
          formControlName="postcode"
        />
      </div>
    </div>
    <div class="row">
      <div class="col mx-auto">
        <button
          class="btn btn-outline-primary rounded-pill px-5 my-3"
          [disabled]="form.invalid"
          routerLink="../register"
        >
          Find care <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </form>
</app-step>
