<app-step title="One last thing...">
  <form [formGroup]="form">
    <div class="row striped-blue">
      <div class="col"></div>
      What is the age of the person who would like some extra help?
    </div>
    <div class="row">
      <div class="col">
        We're not just being nosey, it's just that some providers are more
        scpecialised in supporting younger adults.
      </div>
    </div>
    <div class="row striped-pink">
      <label for="age" class="col-4 col-md-3 col-form-label">Age</label>
      <div class="col-8 col-md-9">
        <input
          type="number"
          class="form-control form-control-lg set-width"
          id="age"
          formControlName="age"
        />
      </div>
      <label for="postcode" class="col-4 col-md-3 col-form-label"
        >Postcode</label
      >
      <div class="col-8 col-md-9 mt-2">
        <input
          type="text"
          class="form-control form-control-lg set-width"
          id="postcode"
          formControlName="postcode"
        />
      </div>
    </div>

    <div class="row">
      <div class="col mx-auto">
        <button
          class="btn btn-outline-primary rounded-pill px-5 my-3"
          [disabled]="form.invalid"
          routerLink="../results"
        >
          Find care <i class="fa fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </form>
</app-step>
