.striped-blue {
  background-color: var(--bs-blue);
  color: #fff;
  padding: 20px 30px 20px 30px;
  font-size: 2rem;
}
.striped-pink {
  background-color: var(--bs-pink);
  color: #fff;
  padding: 20px 30px 20px 30px;
  font-size: 2rem;
}
