.box-1 {
  background-color: var(--bs-blue);
  color: #fff;
  padding: 20px 30px 20px 30px;
  text-align: center;
  font-size: 2rem;
}

.box-2 {
  background-color: var(--bs-pink);
  color: #fff;
  padding: 20px 30px 20px 30px;
  text-align: center;
  font-size: 2rem;
}
