<app-step>
  <div class="box-1 mb-md-3">
    I need help for my loved one but i'm not quite sure where to start
  </div>
  <button
    class="btn btn-outline-primary rounded-pill px-5 my-3"
    routerLink="step-2"
  >
    Find care <i class="fa fa-chevron-right"></i>
  </button>
  <div class="box-2 my-md-3">
    I know what i need and i'm ready to get started
  </div>
  <button class="btn btn-outline-primary rounded-pill px-5 my-3">
    Find care <i class="fa fa-chevron-right"></i>
  </button>
</app-step>
