/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/functions";

$blue: #084b83;
$pink: #ff66b3;

$button-border-radius: 25%;

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

h1,
h2,
h3 {
  color: $blue;
}
@include media-breakpoint-up(md) {
  h1 {
    font-size: 3rem;
  }
}
.striped-blue {
  background-color: var(--bs-blue);
  color: #fff;
  padding: 20px 30px 20px 30px;

  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}
.striped-pink {
  background-color: var(--bs-pink);
  color: #fff;
  padding: 20px 30px 20px 30px;

  margin-bottom: 10px;
  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}
