$blue: #084b83;
$pink: #ff66b3;
$bright-blue: #42bfdd;
$aero-blue: #bbe6e4;
$grey: #f0f6f6;

$button-border-radius: 25%;
$theme-colors: ("blue": $blue,
  "pink": $pink,
  "grey": $grey,
  "aero-blue": $aero-blue,
  "bright-blue": $bright-blue,
);
